In [13]:
import pandas as pd

# Load the CSV file

df = pd.read_csv('C:/Users/xpert/Downloads/iris.csv')
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
# Check the dataset info

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [15]:
# Check duplicates before dropping

print(df.duplicated().sum())
print(df[df.duplicated()])

3
     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

In [16]:
# Drop duplicate rows

df = df.drop_duplicates()

In [17]:
# Reset index

df = df.reset_index(drop=True)

In [18]:
# Verify info

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   147 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   147 non-null    float64
 4   species       147 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
None

In [19]:
# Handling inconsistencies

df['species'] = df['species'].str.lower().str.strip()

In [20]:
# Verify unique values after normalization

print(df['species'].unique())

['setosa' 'versicolor' 'virginica']

In [21]:
# Save the cleaned file

df.to_csv("iris_clean.csv", index=False)